*{
    margin: 0;
    padding: 0;
    font-family: 'Lato' , sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.menu-cointainer{
    background-color: rgb(46, 46, 46);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;  

}

.menus{
    display: flex;
    
}

.logo-photo{
    width: 120px;
}


.item{
    margin-right: 50px;
    padding-right: 7px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.item:hover{
    color: cornflowerblue;
    transition: 0.5s;
}

/* Banner section  */


.banner-img{
    width: 400px;
}

.banner-cointainer{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./images/background.png"), 
    linear-gradient(45deg, #000 , #242424);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 65px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn{
    padding: 10px 20px;
    background-color: #242424;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(61, 61, 61);
    transition: 0.5s;
}